body {
  margin: 15px;

}

.nav-image{
  width: 250px;


}

.col{
  text-align: center;


}

header{
  /* text-align: center; */
  background-color: black;
  padding: 1em 2em;

}


.user-pic{
  width: 250px;
  border-radius: 50%;


}

/* _______________ */

#logo-pic{
  width: 150px;
  text-align: left;


}

#about-pic{
  width: 100%;
  border-radius: 50%;


}
